#nav a:active, #nav a:link, #nav a:visited {
    color: #FFF;
    text-decoration: none;
}

#nav .home {
    padding: 8px 10px 5px 15px;
    margin: 0px;
    /* background: url(../images/home.gif) center no-repeat; */
}

#nav .sp {
    padding: 10px 12px 10px 17px;
    /* background: url(../images/nav-spe.jpg) no-repeat left; */
}

/*
-----------------------
新增：将菜单栏改为棕色
-----------------------
*/
#nav {
    background-color: #541111;
        /*width: 998px;*/
        height: 45px;
        font-size: 14px;
        color: #FFF;
        margin: 0 auto;
        padding: 0px;
        font-weight: bold;
        line-height: 45px;
        text-align: center;
}